body {
   text-align: 
}

#jf1 {
   display: block;
   max-width: 200px;
   max-height: 350px;
   width: auto;
   height: auto;
   transform: rotate(90deg);
   margin-top: 30px;
   margin-bottom: 30px;
   margin-right: 50px;
   margin-left: 50px;
}

ul {
   list-style-type: none;
}

#container {
   width: 900px;
}

#dv1 {
   display: block;
   max-width: 200px;
   max-height: 350px;
   width: auto;
   height: auto;
   float: left;
   margin-top: 30px;
   margin-bottom: 30px;
   margin-right: 50px;
   margin-left: 50px;
}

